<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
          crossorigin="anonymous">
    <title>Create news</title>
</head>
<body>

<header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <p class="h5 my-0 me-md-auto fw-bold">PJR</p>
    <nav class="my-2 my-md-0 me-md-3">
        <a class="btn btn-outline-primary" href="/">Главная страница</a>
        <a class="btn btn-outline-primary" href="/news">News</a>
        <a class="btn btn-outline-primary" href="/news/create">Create news</a>
    </nav>
</header>

<div class="container">
    <form method="post">
        {% csrf_token %}

        {{ form.title }}<br>
        {{ form.anons }}<br>
        {{ form.full_text }}<br>
        {{ form.date_time }}<br>
        <span>{{ error }}</span>
        {#        class="alert alert-danger"#}
        <button class="btn btn-outline-primary" type="submit">Создать</button>
    </form>
</div>

</body>
</html>
