<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
          crossorigin="anonymous">
    <title>{{ post.title }}</title>
</head>
<body>

<header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <p class="h5 my-0 me-md-auto fw-bold">PJR</p>
    <nav class="my-2 my-md-0 me-md-3">
        <a class="btn btn-outline-primary" href="/">Главная страница</a>
        <a class="btn btn-outline-primary" href="/news">News</a>
        <a class="btn btn-outline-primary" href="/news/create">Create news</a>
    </nav>
</header>

<div class="container">

    <h1>{{ post.title }}</h1>
    <p>{{ post.full_text }}</p>
    <p>{{ post.date_time }}</p>
    <a href="{% url 'news_update' post.id %}" class="btn btn-outline-primary">Изменить</a>
    <a href="{% url 'news_delete' post.id %}" class="btn btn-outline-danger">Удалить</a>
    <hr>
    <p>Создать комментарий</p>
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <input type="text" placeholder="user_name" class="form-control">
        <textarea placeholder="comment_text" class="form-control"></textarea>
        <button type="submit" class="btn btn-outline-primary">Оставить комментарий</button>
    </form>
    <p>комментарии:</p>
    <p>Юзер_1: Крутой сайт!</p>
    <p>Юзер_2: Да соглашусь сайт крутой!</p>
</div>

</body>
</html>
